body {
  overflow-x: hidden; }

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important; }

.navbar .nav-item.active {
  border-left: #444 3px solid; }

.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url("../images/phone1.jpeg");
  background-size: cover;
  background-position: center; }

.carousel-image-2 {
  background: url("../images/phone2.jpeg");
  background-size: cover;
  background-position: center; }

.carousel-image-3 {
  background: url("../images/phone3.jpeg");
  background-size: cover;
  background-position: center; }

/*
  Home Page
*/
#home-icons .fa {
  font-size: 50px; }

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../images/lights.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  color: #fff; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#video-play {
  position: relative;
  min-height: 200px;
  background: url("../images/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  color: #fff; }
  #video-play a {
    color: #fff; }

footer#main-footer {
  background: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%; }

/*
  About Page
*/
#page-header {
  height: 250px;
  background: url("../images/about-us.jpeg");
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px; }

#icon-boxes .fa {
  font-size: 50px; }
