$icon-size : 50px;
$dark-overlay:rgba(0,0,0,0.7);

body{
  overflow-x: hidden;
}

.navbar{
  .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .nav-item.active{
    border-left:#444 3px solid;
  }
}

.carousel-item{
  height: 450px;
}

.carousel-image-1{
  background: url('../images/phone1.jpeg');
  background-size: cover;
  background-position: center;
}

.carousel-image-2{
  background: url('../images/phone2.jpeg');
  background-size: cover;
    background-position: center;
}

.carousel-image-3{
  background: url('../images/phone3.jpeg');
  background-size: cover;
    background-position: center;
}

/*
  Home Page
*/

#home-icons{
  .fa{
    font-size:$icon-size;
  }
}

#home-heading{
  position: relative;
  min-height: 200px;
  background:url("../images/lights.jpeg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  text-align: center;
  background-position: center;
  color: #fff;
}

.dark-overlay{
  position:absolute;
  background-color:$dark-overlay;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}

#video-play{
  position: relative;
  min-height: 200px;
  background:url("../images/media.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  text-align: center;
  background-position: center;
  color: #fff;
  a{
    color:#fff;
  }
  .fa{
    font-size:$icon-size;
  }
}

footer#main-footer{
  background:#000;
  color:#fff;
}

/*
  About Page
*/

#page-header{
  height: 250px;
  background: url("../images/black-phone.jpeg");
  background-position:center;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
  background-position: bottom;
}

#icon-boxes{
  .fa{
    font-size:$icon-size;
  }
}

/*
  Services Page
*/
.sec-info{
  text-align: center;
  padding-top: 30px;
  width: 600px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.sec-header{
  font-size: 40px;
  line-height: 1.05;
  font-weight: 500;
  letter-spacing: 0.008em;
  font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.sec-subcopy{
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 400;
  letter-spacing: -0.021em;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding-top: 13px;
}

#services-info{
  position: relative;
  min-height: 400px;
  background:url("../images/services-info.png");
  background-repeat:no-repeat;
  text-align: center;
  background-position: center;
  color: black;
}
